<div class="app-header__inner">
    <div class="app-header__brand">Ark Valley Events</div>
    <nav aria-label="Primary">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <!-- <a routerLink="/about" routerLinkActive="active">About</a> -->
        <a routerLink="/events" routerLinkActive="active">Events</a>
        <a routerLink="/test-api" routerLinkActive="active">Test API</a>
        <a *ngIf="!user" routerLink="/login" routerLinkActive="active">Login</a>
        <a *ngIf="user" routerLink="/profile" routerLinkActive="active">Profile</a>
        <!-- Add routerLinks as pages are created -->
    </nav>
</div>
